.list_product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  .item {
    max-width: 240px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    background-color: #eeee;
    transition: 0.2s ease-out;
    &:hover{
      background: #dddddd;
    }
    .item_img {
      max-width: 200px;
      height: auto;
      filter: drop-shadow(0 50px 20px #0009);
    }
    .item_title {
      font-weight: 500;
      // font-size: large;
    }
    .item_price {
      letter-spacing: 3px;
      font-size: small;
    }
    .item_btn {
      color: #fff;
      background-color: #999;
      padding: 5px 10px;
      border-radius: 20px;
      margin: 10px 0 0;
      cursor: pointer;
      transition: 0.4s ease;
      &:hover{
        background-color: #232323;
      }
    }
  }
}
